<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.9.0.0" targetFramework="net40" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net40" />
  <package id="Ookii.Dialogs.WindowsForms" version="1.0" targetFramework="net40" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net40" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net40" />
</packages>